/* Palette
--------------------------------- */
:root {
  --primary: #5ea40c;
  --on-primary: #fff;
  --secondary: #c3d500;
  --accent: #e7294eff;
  --filling: #fff;
  --on-filling: #1f2328;
  --filling2: linear-gradient(65deg, rgb(234, 250, 255) 0%, rgb(255, 248, 248) 100%);
  --on-filling2: #CCC8D3;
  --filling3: #ecf2b1;
  --on-filling3: #1f2328;
  --info-male: #99e6ff;
  --info-female: #ffaaa6;
  --info-family: #f9d700;
  --outline: #eee;
  --shadow: #b3aca78c;
}
body {
    color: var(--on-filling);
}
/* Palette => Paragraphs
--------------------------------- */

/* Palette => Anchors
--------------------------------- */
a, a:hover, a:visited {
    color: var(--primary);
}
.button a, .button a:hover {
    background-color: var(--primary);
    color: var(--on-primary);
}
#header a.home {
    color: var(--on-filling);
}
/* Palette => Headings
--------------------------------- */
h1 {
    color: var(--accent);
}
.B h3 {
    color: 	var(--secondary);
}
#editForm h3, #editFamilyForm h3 {
    color: var(--on-filling);
}
/* Palette => Lists
--------------------------------- */
#personList ul li:hover {
    color: var(--primary);
}
/* Palette => Images
--------------------------------- */
#header p.logo img {
    border-color: var(--filling);
}
figure img {
    border-radius: 1em;
    border: 1px solid var(--outline);
}
/* Palette => Forms
--------------------------------- */
fieldset {
    border: 1px dashed var(--on-primary);
}
#exportForm input  {
    background-color: var(--filling);
    border-radius: 1em;
}
input, textarea, select:disabled, input:read-only {
    background-color: transparent;
    color: var(--on-filling);
    border: 0px;
}
input[type="search"], #exportForm input {
    border: 1px solid var(--outline);
}
select {
    border-image: none;
    border: 1px solid var(--outline);
}
input:focus, select:focus, textarea:focus {
    outline: none;
}
button, button:hover, .button label, .button label:hover {
    background-color: var(--primary);
    color: var(--on-primary);
}
.button label.icon, input[type="search"] {
    background-color: var(--filling);
    color: var(--on-filling);
}
.button label.icon {
    opacity: 60%;
}
.button label.icon:hover {
    opacity: 100%;
    color: var(--primary);
}
/* Palette => Divisions
--------------------------------- */
.R.workspace .C {
    scrollbar-color: #ddd var(--filling);
}
.R#content, .R#intro {
    background: var(--filling2);
}
#editForm, #exportForm, #editFamilyForm, #personList, .R, .slider:before {
    background-color: var(--filling);
    color: var(--on-filling);
}
#editForm, #exportForm, #editFamilyForm, #personList {
    box-shadow: 0px 0px 6px 0px var(--shadow);
}
#gedcomFileLabel,
.fa-times::before, .switch.active:before,
.filled, .spouse, .child {
    color: var(--primary);
}
#header {
    position: relative;
    box-shadow: 0 0 15px -4px var(--shadow);
}
#gedcomFileLabel {
    opacity: 100%;
}
.tooltip .tooltiptext, #familyName ~ .tooltiptext, .legend {
    background-color: var(--filling3);
    color: var(--on-filling3);
}
.tooltip .tooltiptext, #familyName ~ .tooltiptext {
    border: 1px solid var(--primary);
}
.tooltip .tooltiptext::after {
    border-style: solid;
    border-color: transparent transparent var(--on-filling) transparent;
}
.fa-tags {
    color: 	var(--secondary);
    opacity: 70%;
}
.fa-user::before, .fa-user-friends::before {
    color: var(--filling3);
}
svg {
    background-color: transparent;
}
.node:hover rect, .node:hover circle {
    stroke: var(--primary) !important;
}
.edgePath path {
    stroke: var(--on-filling2);
    fill: var(--on-filling2);
}