@import url(node.family-color.css); /* Colors def */
/* Palette
--------------------------------- */
body {
    color: var(--on-auraData);
}
/* Palette => Paragraphs
--------------------------------- */
#searchSize {
    color: var(--accent);
}

/* Palette => Anchors
--------------------------------- */
a, a:hover, a:visited {
    color: var(--action);
}
.button a, .button a:hover {
    background-color: var(--action);
    color: var(--on-action);
}
#header a.home {
    color: var(--on-auraData);
}
/* Palette => Headings
--------------------------------- */
h1 {
    color: var(--accent);
}
.B h3 {
    color: 	var(--accentMarkers);
}
#editForm h3, #editFamilyForm h3 {
    color: var(--on-auraData);
}
/* Palette => Lists
--------------------------------- */
#personList ul li:hover, #personList ul li.active {
    background-color: var(--actionHover);
    color: var(--action);
    border-radius: 1em;
}
/* Palette => Images
--------------------------------- */
#header p.logo img {
    border-color: var(--auraData);
}
figure img {
    border-radius: 1em;
    border: 1px solid var(--accentOutline);
}
/* Palette => Forms
--------------------------------- */
fieldset {
    border: 1px dashed var(--on-action);
}
#exportForm input  {
    background-color: var(--auraData);
    border-radius: 1em;
}
input, textarea, select:disabled, input:read-only {
    background-color: transparent;
    color: var(--on-auraData);
    border: 0px;
}
input[type="search"], #exportForm input {
    border: 1px solid var(--accentOutline);
}
select {
    border-image: none;
    border: 1px solid var(--accentOutline);
}
input:focus, select:focus, textarea:focus {
    outline: none;
}
button, button:hover, .button label, .button label:hover {
    background-color: var(--action);
    color: var(--on-action);
}
.button label.icon {
    background-color: var(--auraData);
    color: var(--actionFade);
}
input[type="search"] {
    background-color: var(--auraData);
    color: var(--on-auraData);
}
input[type="search"]:focus-visible, #exportForm input:focus-visible {
    border: 1px solid var(--accentMarkers);
}
.button label.icon:hover {
    background-color: var(--actionHover);
    color: var(--action);
}
input[type=range] {
    accent-color: var(--accentMarkers);
}
/* Palette => Divisions
--------------------------------- */
.R.workspace .C {
    scrollbar-color: var(--accentOutline) var(--auraData);
}
.R#content, .R#intro {
    background: var(--auraTree);
}
#editForm, #exportForm, #editFamilyForm, #personList, .R, .slider:before {
    background-color: var(--auraData);
    color: var(--on-auraData);
}
#editForm, #exportForm, #editFamilyForm, #personList {
    box-shadow: 0px 0px 6px 0px var(--accentShadow);
}
#gedcomFileLabel,
.fa-times::before, .switch.active:before,
.filled, .spouse, .child {
    color: var(--action);
}
#header {
    position: relative;
    box-shadow: 0 0 15px -4px var(--accentShadow);
}
#gedcomFileLabel {
    opacity: 100%;
}
.tooltip .tooltiptext, #familyName ~ .tooltiptext, .legend {
    background-color: var(--auraInfo);
    color: var(--on-auraInfo);
}
.tooltip .tooltiptext, #familyName ~ .tooltiptext {
    border: 1px solid var(--action);
}
.tooltip .tooltiptext::after {
    border-style: solid;
    border-color: transparent transparent var(--on-auraData) transparent;
}
.fa-tags {
    color: 	var(--accentMarkers);
    opacity: 70%;
}
.fa-user::before, .fa-user-friends::before {
    color: var(--auraInfo);
}
svg {
    background-color: transparent;
}
.node:hover rect, .node:hover circle {
    stroke: var(--action) !important;
}
.edgePath path {
    stroke: var(--on-auraTree);
    fill: var(--on-auraTree);
}