/* Palette
--------------------------------- */
:root {
/* presets
--------------------------------- */
  --_red-h: 348;
  --_green-h: 88;
  --_greenLighter-h: 64;
  --_blue-h: 205;
  --_yellow-h: 52;

  --_gray: hsl(264, 8%, 64%);
  --_grayLighter-hs: 264, 31%;
  --_grayLighter2-hs: 264, 7%;

  --_background: hsl(0, 0%, 100%);
  --_foreground: hsl(213, 13%, 14%);
 /* colors
 --------------------------------- */
  --_red: hsl(var(--_red-h), 80%, 53%);
  --_redLighter: hsl(var(--_red-h), 100%, 83%);
  --_redLighter2: hsl(var(--_red-h), 80%, 98%);
  --_redLighter3: hsl(var(--_red-h), 100%, 96%);
  --_green: hsl(var(--_green-h), 86%, 35%);
  --_greenLighter: hsl(var(--_greenLighter-h), 100%, 42%);
  --_greenLighter2: hsl(var(--_greenLighter-h), 70%, 82%);
  --_blue: hsl(var(--_blue-h), 100%, 80%);
  --_blueLighter: hsl(var(--_blue-h), 100%, 95%);
  --_yellow: hsl(var(--_yellow-h), 100%, 49%);
  --_yellowLighter: hsl(var(--_yellow-h), 100%, 85%);
  --_grayLighter: hsl(var(--_grayLighter-hs), 94%);
  --_grayLighter2: hsl(var(--_grayLighter2-hs), 68%);
 /* functions - aura,action,accent
 --------------------------------- */
  --auraTree: linear-gradient(65deg, var(--_blueLighter) 0%, var(--_redLighter2) 100%);
  --on-auraTree: var(--_gray);
  --auraData: var(--_background);
  --on-auraData: var(--_foreground);
  --auraInfo: var(--_greenLighter2);
  --on-auraInfo: var(--_foreground);
  --action: var(--_green);
  --actionFade: var(--_gray);
  --actionHover: var(--_redLighter2);
  --on-action: var(--_background);
  --accent: var(--_red);
  --auraNodeCurrent: var(--_greenLighter);
  --on-auraNodeCurrent: var(--_foreground);
  --accentMale: var(--_blue);
  --accentMaleIcon: var(--_blueLighter);
  --accentFemale: var(--_redLighter);
  --accentFemaleIcon: var(--_redLighter3);
  --accentFamily: var(--_yellow);
  --accentFamilyIcon: var(--_yellowLighter);
  --accentOutline: var(--_grayLighter);
  --accentShadow: var(--_grayLighter2);
  --accentMarkers: var(--_greenLighter);
}
@media (prefers-color-scheme: dark) {
    :root {
/* presets
--------------------------------- */
      --_background: hsl(213, 13%, 14%);
      --_foreground: hsl(0, 0%, 85%);
/* colors
--------------------------------- */
      --_red: hsl(var(--_red-h), 50%, 53%);
      --_redLighter: hsl(var(--_red-h), 70%, 83%);
      --_redLighter2: hsl(var(--_red-h), 50%, 98%);
      --_redLighter3: hsl(var(--_red-h), 50%, 86%);
      --_green: hsl(var(--_green-h), 56%, 35%);
      --_greenLighter: hsl(var(--_greenLighter-h), 70%, 43%);
      --_greenLighter2: hsl(var(--_greenLighter-h), 70%, 15%);
      --_blue: hsl(var(--_blue-h), 70%, 80%);
      --_blueLighter: hsl(var(--_blue-h), 50%, 86%);
      --_yellow: hsl(var(--_yellow-h), 70%, 49%);
      --_yellowLighter: hsl(var(--_yellow-h), 70%, 85%);
      --_grayLighter: hsl(var(--_grayLighter-hs), 4%);
      --_grayLighter2: hsl(var(--_grayLighter2-hs), 30%);
 /* functions
 --------------------------------- */
      --auraTree: hsl(0, 0%, 0%);
      --accentOutline: var(--_grayLighter2);
      --actionHover: var(--_grayLighter2);
      --on-auraNodeCurrent: var(--_background);
    }
    .logo img {
        content: url("../img/Node.Family-Logo-2-inverted.png")
    }
}