:root {
  --primary: #5ea40c;
  --on-primary: #fff;
  --secondary: #c3d500;
  --accent: #e7294eff;
  --filling: #fff;
  --on-filling: #1f2328;
  --filling2: linear-gradient(65deg, rgb(234, 250, 255) 0%, rgb(255, 248, 248) 100%);
  --filling3: linear-gradient(65deg, #ecf2b1 0%, #e4f2b1 100%);
  --on-filling3: #1f2328;
  --info-male: #99e6ff;
  --info-female: #ffaaa6;
  --info-family: #f9d700;
  --outline: #CCC8D3;
  --shadow: #b3aca78c;
}
a, a:hover, a:visited {
    color: var(--primary);
}
a.run, .button label {
    background-color: var(--primary);
}
button, .button a, .button label {
    background-color: var(--primary);
}
.tooltip .tooltiptext, #familyName ~ .tooltiptext {
    background: var(--filling3);
    border: 1px solid var(--primary);
}
.node:hover rect, .node:hover circle {
    stroke: var(--primary) !important;
}
#editForm .fa-times::before, #exportForm .fa-times::before, #editFamilyForm .fa-times::before, #personList .fa-times::before {
    color: var(--primary);
}
.switch.active:before {
    color: var(--primary);
}
body, #header a.home {
    color: var(--on-filling);
}
.button a, .button label, button {
    color: var(--on-primary);
}
#footer {
    background-color: var(--on-filling);
}
.tooltip .tooltiptext::after {
    border-style: solid;
    border-color: transparent transparent var(--on-filling) transparent;
}
fieldset {
    border: 1px dashed var(--on-primary);
}
#editForm, #exportForm, #editFamilyForm, #personList {
    background: var(--filling3);
    color: var(--on-filling3);
}
#editFamilyForm::before, #exportForm::before, #personList::before {
    color: var(--secondary);
    opacity: 40%;
}
.button a:hover, .button label:hover,   button:hover {
    background-color: var(--primary);
}
.button label.icon:hover {
    color: var(--primary);
    opacity: 100%;
}
#gedcomFileLabel {
    color: var(--primary);
    opacity: 100%;
}
h1 {
    color: var(--accent);
}
.R#credits h2, .B h3 {
    color: 	var(--secondary);
}
#editForm h3, #editFamilyForm h3 {
    color: 	var(--on-filling3);
}
#footer, #footer a.home {
    color: #ccc;
}
#footer a:hover {
    color: var(--primary);
}
#search a {
    color: var(--primary);
}

.R, .R#faq, #footer p.logo img {
    background-color: var(--filling);
}

.R#about, .R.mono {
    background-color: var(--filling3);
}
.R#credits, .R#contactForm, .R#privacy-terms, svg {
    background-color: transparent;
}
.R#content, .R#intro {
    background: var(--filling2);
    background: linear-gradient(65deg, rgb(234, 250, 255) 0%, rgb(255, 248, 248) 100%);
}

.R.enhanced {
    background-color: vae(--filling);
}
.slider:before {
    background-color: var(--filling);
}
input:checked + .slider {
    background-color: #ccc;
}
.button label.icon {
    background-color: var(--filling);
    color: var(--on-filling);
    opacity: 60%;
}
#header {
    position: relative;
    box-shadow: 0 0 15px -4px var(--shadow);

}
#header p.logo img, #footer p.logo img {
    border-color: var(--filling);
}
.edgePath path {
    stroke: var(--outline);
    fill: var(--outline);
}
input[type="search"] {
    background-color: var(--filling);
    border: 1px solid var(--outline);
    color: var(--on-filling);
}
#personList input[type="search"], #exportForm input {
    background-color: var(--filling);
    border: 0px;
    color: var(--on-filling);
}
.legend {
    background-color: var(--filling3);
}
#personList ul li {
    border-bottom: 1px dashed var(--on-primary);
}
input, textarea {
    border: 0px;
}
input:read-only {
    color: var(--on-filling3);
    border-bottom: 0;
}
input:hover, select:disabled:hover, #personList ul li:hover, textarea:hover, #exportForm input  {
    background-color: var(--on-primary);
    border-radius: 1em;
}
#exportForm h3, #personList h3 {
    text-transform: uppercase;
    opacity: 60%;
}
.fa-tags {
    color: var(--secondary);
    opacity: 70%;
}
select {
    border-image: none;
    border: 1px solid var(--outline);
}
select:disabled {
    border: 0px;
}
input, textarea, select:disabled {
    background-color: transparent;
    color: var(--on-filling3);
}
input:focus, select:focus {
    outline: none;
}
input:read-only:focus {
    border: 0;
}
.swal-button, .swal-button:not([disabled]):hover {
    background-color: var(--primary);
}
#familyName.filled, #husbandName.filled, #wifeName.filled, .spouse, .child {
    color: var(--primary);
}
.R.workspace .C {
    scrollbar-color: #ddd var(--filling);
 }
figure img {
    box-shadow: 0px 0px 10px 5px #fff;
    border-radius: 1em;
}